@charset "utf-8";

html{
	font-size:62.5%;
}

body {
	background: #fff;
	color: $font_color;
	font-family: $base_font;
	-webkit-text-size-adjust:100%;
}

#page {
	position: relative;
	@include font-size(1.6);
	overflow: hidden;
	font-weight: 500;
}

@if not $tablet {
	#page {
		min-width: $base_width;
	}
	.container{
		width: $base_width;
	}
}

a {
	text-decoration: none;
	&:link {
		color: $link_color;
	}
	&:visited {
		color: $link_color_visited;
	}
	&:hover {
		color: $link_color_hover;
	}
	&:active {
		color: $link_color_active;
	}
}

img {
	line-height: 1;
	font-size: 0;
	vertical-align: top;
	height: auto;
	max-width: 100%;
}


table {
	width: 100%;
	margin: 0 auto 20px;
	border-collapse: collapse;
}
th, td {
	padding: 10px;
	border: 1px solid #CCC;
	vertical-align: top;
}