@charset "utf-8";

.main_visual{
	margin-top: 140px;
	margin-bottom: 80px;
	position: relative;
	.main_slider{
		border: none;
		margin-bottom: 0;
		height: 580px;
		position: relative;
		ul{
			li{
				height: 580px;
				background-position: center!important;
				background-size: cover!important;
			}
		}
		.text{
			height: 100%;
			@include centering(true,true);
			position: absolute;
			z-index: 10;
			&::before{
				content: '';
				position: absolute;
				top: -4%;
				border: 1px solid $main_color;
				z-index: 2;
				right: 0;
				left: 0;
				margin: auto;
				width: 65%;
				height: 108%;
			}
			.en{
				position: absolute;
				@include centering(true,true);
				z-index: 2;
				font-family: 'Century Gothic';
			}
			.ja{
				position: absolute;
				@include centering(false,true);
				right: 5%;
				z-index: 2;
			}
		}
	}
	.scroll{
		text-transform: uppercase;
		font-weight: bold;
		@include font-size(1.4);
		position: absolute;
		bottom: 0px;
		right: -40px;
		left: 0;
		z-index: 2;
		margin: auto;
		text-align: center;
		transform: rotate(-90deg);
		&::after{
			content: '';
			position: absolute;
			border-top: 1px solid $main_color;
			width: 100px;
			bottom: 25px;
			right: 38px;
			left: 0;
			margin: auto;
		}
		&::before{
			content: '';
			position: absolute;
			bottom: 12px;
			right: 126px;
			left: 0;
			z-index: 2;
			margin: auto;
			transform: rotate(-45deg);
			border-right: 1px solid $main_color;
			width: 1px;
			height: 15px;
		}
	}
}

.lower_ttl{
	height: 400px;
	margin-top: 170px;
	position: relative;
	.loopslider{
		margin: 0 auto;
		width: 100%;
		height: 400px;
		text-align: left;
		position: relative;
		ul {
			height: 400px;
			float: left;
			overflow: hidden;
			display: flex;
			align-items: center;
		}
	}
	.text{
		width: 360px;
		height: 360px;
		border: 1px solid $main_color;
		color: $main_color;
		position: absolute;
		top: -30px;
		z-index: 1;
		h1{
			text-align: center;
			@include centering(true,true);
			position: absolute;
			.en,.ja{
				display: block;
		    white-space: nowrap;
			}
			.en{
				text-transform: uppercase;
				@include font-size(4.6);
				font-family: 'Century Gothic';
				margin-bottom: 10px;
			}
			.ja{
				font-family: $min_font;
				@include font-size(1.8);
			}
		}
	}
	&.about{
		background: url(#{$img_path}main/about_main@2x.jpg) center no-repeat;
		background-size: cover;
	}
	&.technology{
		background: url(#{$img_path}main/technology_main@2x.jpg) center no-repeat;
		background-size: cover;
	}
}

.lower_ttl2{
	position: relative;
	margin-top: 140px;
	.img{
	}
	.text{
		width: 360px;
		height: 360px;
		border: 1px solid $main_color;
		color: $main_color;
		position: absolute;
		top: -20px;
		z-index: 1;
		h1{
			text-align: center;
			@include centering(true,true);
			position: absolute;
			span{
				display: block;
		    white-space: nowrap;
				text-transform: uppercase;
			}
			.num{
				@include font-size(1.4);
			}
			.en{
				@include font-size(3.6);
				font-family: 'Century Gothic';
				margin-top: 20px;
				margin-bottom: 10px;
			}
			.ja{
				font-family: $min_font;
				@include font-size(1.8);
			}
		}
	}
}

.lower_ttl3{
	margin-top: 100px;
	height: 170px;
	border-bottom: 1px solid #eceeef;
	position: relative;
	h1{
		color: $main_color;
		text-align: center;
		@include centering(true,true);
		position: absolute;
		span{
			display: block;
		}
		.en{
			@include font-size(4.6);
			font-family: 'Century Gothic';
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.ja{
			font-family: $min_font;
			@include font-size(1.8);
		}
	}
}

.crumbs {
	color: $font_color;
	text-align: right;
	margin: 10px 0 10px;
	li {
		display: inline;
		@include font-size(1.4);
		color: $main_color;
		a{
			color: $main_color;
		}
	}
}


.btn_box{
	position: absolute;
	right: 15px;	
}
.menu_btn{
  height: 35px;
  width: 32px;
  display: block!important;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  z-index: 1000000;
  right: 0;
  padding: 0 5px;
  span{
    height: 3px;
    width: 32px;
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $main_color;
    text-indent: -9999px;
    transition: 0.3s ease;
    &.hidden{
      display: none;
    }
  }
  &::before{
    content: "";
    height: 3px;
    width: 32px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 6px;
    background-color: $main_color;
    transition: 0.3s ease;
  }
  &::after{
    content: "";
    height: 3px;
    width: 32px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 6px;
    background-color: $main_color;
    transition: 0.3s ease;
  }
  &.is-act{
    color: $main_color;
    &:before{
      transform: rotate(135deg);
      top: 17px;
      background: $main_color;
    }
    &:after{
      transform: rotate(-135deg);
      bottom: 15px;
      background: $main_color;
    }
  }
}

.drawer{
  display: none;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid #bbb;
  .navi{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 50px;
    li{
      line-height: 1.4;
      position: relative;
      border-bottom: 1px solid #bbb;
      a{
        display: block;
        width: 100%;
        position: relative;
        &::after{
          content: '\f105';
          font-family: 'Font Awesome 5 Pro';
          position: absolute;
          @include centering(false,true);
          right: 15px;
        }
      }
      a,span{
        @include font-size(1.6);
        text-decoration: none;
        display: block;
        padding: 16px 15px;
      }
      &:first-child{
        border-top: 1px solid #bbb;
      }
      .drop_list{
        display: block;
        li{
          border-top: 1px solid #bbb;
          a{
            display: block;
            padding: 14px 10px 14px 80px;
            position: relative;
            img{
              width: 50px;
              position: absolute;
              @include centering(false,true);
              left: 10px;
            }
            &.is-act{
              background-color: #f1f8e7;
            }
          }
        }
      }
    }
  }
}

.table1{
	th,td{
		padding: 20px 10px;
		border: none;
		border-bottom: 1px solid #ccc;
		text-align: left;
		font-weight: 500;
	}
	th{
		color: #111;
	}
}

.ttl1{
	font-family: $min_font;
	@include font-size(3.4);
	text-align: center;
	margin-top: 65px;
	margin-bottom: 40px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: -55px;
		right: 0;
		left: 0;
		margin: auto;
		border-right: 1px solid $main_color;
		height: 32px;
		width: 0;
	}
}

.ttl2{
	@include font-size(2.4);
	padding: 15px 0;
	border-bottom: 1px solid $main_color;
	margin-bottom: 30px;
}

.rec_post_list{
	ul{
		li{
			a{
				display: flex;
				padding: 30px 0 20px;
				border-bottom: 1px solid #ccc;
				.img{
			    flex-basis: 31%;
			    max-width: 31%;
			    min-width: 31%;;
				}
				.text{
			    flex-basis: 67%;
			    max-width: 67%;
			    min-width: 67%;
					time{
						@include font-size(1.3);
						font-weight: bold;
					}
					h3{
						@include font-size(2.2);
						font-weight: 500;
						margin: 10px 0 20px;
					}
					.btn{
						display: inline-block;
						color: #fff;
						background-color: $sub_color;
						float: right;
						text-align: center;
						@include font-size(1.4);
						font-weight: bold;
						width: 230px;
						padding: 5px 0;
						transition: 0.3s ease;
					}
				}
				&:hover{
					h3,p{
						text-decoration: underline;
					}
					.btn{
						background-color: $main_color;
					}
				}
			}
		}
	}
}

.news_list{
	margin: 40px 0 80px;
	li{
		border-top: 1px solid $main_color;
		&:last-child{
			border-bottom: 1px solid $main_color;
		}
		a{
			display: flex;
			align-items: center;
			padding: 30px 0;
			transition: 0.3s ease;
			.date{
				color: $main_color;
				font-weight: bold;
				flex-basis: 120px;
				max-width: 120px;
			}
			&:hover{
				background-color: #f5f5f5;
			}
		}
	}
}

/*----------------------------------------------------
	form要素
--------------------------------------------------- */

input, textarea {
	padding:5px 7px;
	border-radius:2px;
	margin:0;
	border:none;
	background-color:#fff;
	border: 1px solid #A7A6AA;
}

input[type="text"],
textarea {
	outline: none;
	border: 1px solid #aaa;
	transition: all 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #52a8ec;
	border: 1px solid #52a8ec;
}

input[type="radio"], input[type="checkbox"] {
	margin-right:5px;
	vertical-align:baseline;
	border-style:none;
}

label {
	margin-right:15px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.contactForm{
	input,textarea{
		padding: 10px 15px;
		@include font-size(1.6);
	}
	.school{
		align-items: center;
		margin-bottom: 10px;
		input{
			width: 100%;
			margin-left: -60px;
			margin-bottom: 10px;
		}
	}

	input[name="birth-year"],input[name="birth-month"],input[name="birth-date"]{
		width: 25%;
	}

	.mwform-radio-field{
  	display: block;
  	margin-left: 0!important;
  }
	input[type="radio"] {
    position: relative;
    -webkit-appearance: button;
    appearance: button;
		-moz-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #999999;
    @include border_radius(50%);
    box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
    vertical-align: middle;
    cursor: pointer;
    padding: 5px;
  }

  input[type="radio"]:checked:after {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 6px;
    height: 6px;
    background: $main_color;
    @include border_radius(50%);
  }
  input[type="checkbox"] {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
		appearance: button;
		-moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    vertical-align: middle;
    padding: 5px;
  }

  input[type="checkbox"]:checked::after {
    position: absolute;
    content: "";
    top: -3px;
    left: 3px;
    width: 8px;
    height: 14px;
    border-right: 4px solid $main_color;
    border-bottom: 4px solid $main_color;
    transform: rotate(45deg); 
  }
}

/*----------------------------------------------------
	ページ分割ナビ
--------------------------------------------------- */
.wp-pagenavi {
	padding: 40px 0 40px;
	text-align: center;
	overflow: hidden;

	a, span {
		padding:3px 11px;
		background:$main_color;
		border: 1px solid $main_color;
		color:#fff;
		margin:  0 5px 10px 0;
		text-decoration: none;
		display: inline-block;
		transition: all 0.3s ease;
	}

	span {
		background:#fff;
		color:$main_color;
	}

	.pages {
		margin-right: 20px;
	}

	a:hover {
		background:#fff;
		color:$main_color;
	}

	.alignleft {
		margin-top:0;
		margin-bottom:0;
		float:none;
		vertical-align: top;
		max-width: 40%;
		display: inline-block;
		a{
			border: none;
			background: none;
			color: $main_color;
		}
	}

	.center {
		margin-top:0;
		margin-bottom:0;
		float:none;
		display: inline-block;
	}

	.alignright {
		margin-top:0;
		margin-bottom:0;
		float:none;
		vertical-align: top;
		max-width: 40%;
		display: inline-block;
		a{
			border: none;
			background: none;
			color: $main_color;
		}
	}
}

/*----------------------------------------------------
  送信確認ボタン
--------------------------------------------------- */
.btnArea{
	text-align: center;
	margin-bottom: 40px;
	overflow: hidden;
	input{
		margin: 0 20px;
	}
}

input[name="submitConfirm"]{
	background:$main_color;
	color: #FFF;
	padding:0;
	width:$submit_width;
	height:$submit_height;
	border:none;
	display:block;
	margin:20px auto;
	cursor: pointer;
	&:hover{
		@include opacity(0.8);
	}
}

/*----------------------------------------------------
  戻るボタン
--------------------------------------------------- */

input[name="submitBack"] {
  background:#ddd;
	padding:0;
	height:$submit_height;
	border:none;
	cursor: pointer;
	float: left;
	margin: 1%;
	width: 48%;
	&:hover{
		@include opacity(0.8);
	}
}

/*----------------------------------------------------
  送信ボタン
--------------------------------------------------- */
input[name="submitSubmit"]{
	background:$main_color;
	color: #FFF;
	height:$submit_height;
	border:none;
	cursor: pointer;
	float: left;
	margin: 1%;
	width: 48%;
	&:hover{
		@include opacity(0.8);
	}
}


/*----------------------------------------------------
  完了画面のトップへ戻るボタン
--------------------------------------------------- */

.return_top{
	background:$main_color;
	color: #FFF!important;
	padding:0;
	width: $submit_width;
	height: $submit_height;
	line-height: $submit_height;
	border:none;
	display:block;
	margin:20px auto;

	&:hover{
		@include opacity(0.8);
	}
}
/*----------------------------------------------------
  必須
--------------------------------------------------- */

.require{
	margin-left:10px;
	background-color:#C33;
	padding:3px 4px ;
	color:#fafafa;
	font-size:9px;
	letter-spacing:1px;
  margin: 0px 0px 0px 10px;
	line-height:9px;
	border-radius:3px;
	font-family:$base_font;
	zoom:normal;
}
