@charset "utf-8";

// ===================================================
// レイアウト関係のスタイル
// ===================================================


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
.l-contents {
	word-break: normal;
	word-wrap: break-word;
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header {
	width: 100%;
	padding: 20px 0;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	top: 0;
	transition: 0.3s ease;
	.row{
		align-items: center;
	}
	.logo{
		max-width: 20%;
		flex-basis: 20%;
		p{
	    margin-top: -15px;
	    margin-left: 10px;
	    @include font-size(1.2);
	    font-weight: bold;
		}
	}
	.gnavi{
		width:100%;
		max-width: 60%;
		flex-basis: 60%;
		 ul{
			display: flex;
			justify-content: center;
			li{
				margin: 0 22px;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					top: -10px;
					right: -25px;
					border-right: 1px solid #cecece;
					height: 200%;
					transform: rotate(45deg);
				}
				&:last-child{
					&::after{
						content: none;
					}
				}
				a{
					color: $sub_color;
					font-weight: bold;
			    white-space: nowrap;
					transition: 0.3s ease;
					&:hover{
						color: $main_color;
					}
				}
			}
		}
	}
	.recruit{
		text-align: right;
		padding-right: 0;
		max-width: 20%;
		flex-basis: 20%;
		a{
			display: 	inline-block;
			color: #fff;
			width: 50%;
			padding: 10px 0;
			background-color: $sub_color;
			text-align: center;
			transition: 0.3s ease;
			&:hover{
				background-color: $main_color;
			}
		}
	}
}

/*----------------------------------------------------
	#main
----------------------------------------------------*/
.l-main {
	line-height: 180%;
	table, ol, ul, dl, blockquote, pre, p {
		margin-bottom: $base_margin_bottom;
	}
}

/*----------------------------------------------------
	#side
----------------------------------------------------*/
.l-side {

}

/*-----------------------------------------------------
	フッター
-----------------------------------------------------*/

.l-footer {
	margin-top: 100px;
	.page_top {
		text-align: center;
		margin-bottom: 50px;
	}
	.footer_area{
		color: #fff;
		padding: 40px 40px 60px 40px;
		background-color: $main_color;
		.top_row{
			margin-bottom: 60px;
			h2{
				@include font-size(2);
			}
			.f_navi{
				ul{
					display: flex;
					justify-content: flex-end;
					li{
						margin-right: 50px;
						position: relative;
						&::after{
							content: '';
							position: absolute;
							top: -5px;
							right: -25px;
							border-right: 1px solid #cecece;
							height: 150%;
							transform: rotate(45deg);
						}
						&:last-child{
							margin-right: 0;
							&::after{
								content: none;
							}
						}
						a{
							color: #fff;
							@include font-size(1.4);
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		.mid_row{
			.address{
				@include font-size(1.4);
				dl{
					margin-bottom: 40px;
					padding-left: 40px;
					position: relative;
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: 0;
						border-top: 1px solid #fff;
						width: 20px;
					}
					dt{
						margin-bottom: 10px;
						font-weight: bold;
					}
					dd{
						line-height: 160%;
						a{
							color: #fff;
						}
					}
				}
			}
		}
		.bottom_row{
			display: flex;
			justify-content: flex-end;
			@include font-size(1.4);
			a{
				color: #fff;
				margin-right: 50px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}