@charset "utf-8";

// ===================================================================
// 各ページのスタイルを定義
// ===================================================================


/*----------------------------------------------------
	各ページのスタイル
----------------------------------------------------*/
body{
  position: relative;
  .c-floating_banner{
    padding: 0.5em 1.5em;
    background: $sub_color;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    z-index: 100;
    &.contact{
      display: none;
    }
    &:hover{
      background: $main_color;
    }
    a{
      margin-right: 20px;
      display: inline-flex;
      align-items: center;
      font-size: 2rem;
      span{
        display: block;
        padding-bottom: 2px;
        border-bottom: 1px solid #fff;
      }
      
      i img{
        width: 30px;
        height: 25px;
        margin-right: 10px;
      }
    }
    a,p{
      color: #fff;
    }
    p{
      font-family: 'Century Gothic';
      font-size: 2rem;
    }
  }
}

/* トップページ */
.m-index{
  .service-btn{
    text-align: center;
    a{
      display: inline-block;
      width: 300px;
      padding: 8px 0;
      text-align: center;
      color: #fff;
      background-color: #209ec7;
      transition: .3s ease;
      &:hover{
        background-color: $main_color;
      }
    }
  }
	.idx_topics{
		padding: 50px 0;
		.idx_topics_row{
			.row{
				align-items: center;
			}
			h2{
				@include font-size(4);
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $main_color;
				position: relative;
				span{
					display: inline-block;
					background-color: #fff;
					padding-right: 10px;
					position: relative;
					z-index: 1;
					font-family: 'Century Gothic';
				}
				&::before{
					content: '';
					position: absolute;
					z-index: -1;
					top: 12px;
					border-top: 1px solid $main_color;
					width: 100%;
				}
			}
			.news_row{
				a{
					display: block;
					padding: 30px 0 40px;
					border-bottom: 1px solid $main_color;
					time{
						color: $main_color;
						font-weight: bold;
					}
					&:hover{
						p{
							text-decoration: underline;
						}
					}
				}
			}
			.recruit{
				a{
					color: #fff;
					@include font-size(1.8);
					text-align: center;
					display: block;
					background-color: $sub_color;
					padding: 45px 0;
			    margin-top: 12px;
			    transition: 0.3s ease;
			    &:hover{
			    	background-color: $main_color;
			    }
				}
			}
		}
	}
	.idx_about_sec{
		margin-bottom: 200px;
		position: relative;
		.row{
			align-items: flex-end;
		}
		.about_block{
			position: static;
			&.block2{
		    flex-basis: 40%;
		    max-width: 40%;
		    margin: 0 auto;
			}
		}
		.ttl{
			color: $main_color;
			position: absolute;
			top: 0;
			h2{
				position: absolute;
				top: 30px;
				left: -140px;
				display: inline-block;
				@include font-size(1.4);
				padding: 40px 30px;
				border: 1px solid $main_color;
				text-transform: uppercase;
				font-family: 'Century Gothic';
			}
			h3{
				display: flex;
				align-items: center;
				font-family: $min_font;
				font-weight: 400;
				@include font-size(3.6);
				line-height: 150%;
				background-color: #fff;
				padding: 10px;
			}
		}
		.img2{
			text-align: center;
		}
		.text{
			width: 500px;
			padding-left: 30px;
			margin: 30px auto;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 6px;
				left: 0;
				border-left: 1px solid $main_color;
				height: 14px;
			}
			.btn{
				margin-top: 50px;
				text-align: left;
				a{
					display: inline-block;
					text-align: center;
					width: 300px;
					padding: 8px 0;
					color: #fff;
					background-color: $sub_color;
					transition: 0.3s ease;
					&:hover{
						background-color: $main_color;
					}
				}
			}
		}
	}
	.idx_products_sec{
		padding: 100px 0;
		.img_area{
			margin-bottom: 50px;
			position: relative;
			.img{
				background-size: cover!important;
				background-position: bottom!important;
				height: 700px;
			}
			.text{
				top: -100px;
				position: absolute;
				right: 0;
				left: 0;
				display: inline-block;
				text-align: center;
				color: $main_color;
				&::before{
					content: '';
					position: absolute;
					@include centering(true,true);
					border: 1px solid ;
					width: 370px;
					height: 350px;
				}
				h2{
					@include font-size(4);
					margin-bottom: 50px;
					font-family: $min_font;
					font-weight: 400;
					background-color: #fff;
			    padding: 20px 0 15px;
			    position: relative;
				}
				h3{
					@include font-size(5.2);
					text-transform: uppercase;
					line-height: 140%;
					font-family: 'Century Gothic';
				}
			}
		}
		.in{
			padding: 0 100px;
			p{
				margin-bottom: 100px;
				padding-left: 50px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 5px;
					left: 0;
					border-left: 1px solid $main_color;
					height: 14px;
				}
			}
			ul{
				li{
					text-align: center;
					margin-bottom: 60px;
					position: relative;
					// &::before{
					// 	content: '';
					// 	position: absolute;
					// 	bottom: -90px;
					// 	left: -30px;
					// 	z-index: 1;
					// 	width: 115px;
					// 	height: 115px;
					// 	border: 1px solid $main_color;
					// }
					// &:nth-child(3n){
					// 	&::after{
					// 		content: '';
					// 		position: absolute;
					// 		bottom: -90px;
					// 		right: -30px;
					// 		z-index: 1;
					// 		width: 115px;
					// 		height: 115px;
					// 		border: 1px solid $main_color;
					// 	}
					// }
				}
			}
		}
	}
	.idx_rec_sec{
		.row{
			align-items: center;
		}
		.text{
			text-align: center;
			h2{
				padding: 30px 0 10px;
				margin-bottom: 80px;
				position: relative;
				&::before,&::after{
					content: '';
					position: absolute;
					right: 0;
					left: 0;
					margin: auto;
					text-align: center;
					border-right: 1px solid $main_color;
					width: 0px;
					height: 50px;
				}
				&::before{
					top: -60px;
				}
				&::after{
					bottom: -60px;
				}
				.en,.ja{
					display: block;
					color: $main_color;
				}
				.en{
					@include font-size(7);
					text-transform: uppercase;
					margin-bottom: 30px;
					letter-spacing: 5px;
					font-family: 'Century Gothic';
				}
				.ja{
					@include font-size(2.8);
					font-family: $min_font;
					font-weight: 400;
				}
			}
			ul{
				margin-bottom: 0;
				li{
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						display: inline-block;
						width: 370px;
						color: #fff;
						background-color: $sub_color;
						padding: 10px 0;
						transition: 0.3s ease;
						&:hover{
							background-color: $main_color;
						}
					}
				}
			}
		}
	}
}

/* 大同硝子興行について */
.m-about{
	.top_sec{
		padding: 60px 0;
		.text{
			margin-bottom: 30px;
		}
		.img_area{
			text-align: center;
			p{
				margin-top: 30px;
			}
		}
	}
	.philosophy_sec{
		padding: 80px;	
		background: url(#{$img_path}about/philosophy_bg@2x.jpg) center no-repeat;
		background-size: cover;
		.text_block{
			margin-top: 60px;
			padding: 0 190px;
			h3{
				color: $sub_color;
				@include font-size(2.2);
				text-align: center;
				font-family: $min_font;
				font-weight: 400;
				margin-bottom: 20px;
				&.min{
					font-weight: 400;
					@include font-size(5);
					margin-bottom: 50px;
				}
			}
		}
	}
	.greeting_sec{
		padding: 60px 0;
		.text_block{
			padding-top: 10px;
			h2{
				@include font-size(3.4);
				font-family: $min_font;
				font-weight: 400;
				margin-bottom: 30px;
			}
			.name_area{
				display: inline-block;
				float: right;
				p{
					margin-bottom: 0;
					@include font-size(1.5);
				}
				.name{
					span{
						margin-left: 10px;
					}
				}
			}
		}
	}
	.overview_sec{
		padding: 30px 0;
		.table1{
			width: 820px;
			th{
				width: 180px;
			}
		}
	}
	.access_sec{
		padding: 30px 0;
		iframe{
			margin-bottom: 5px;
		}
	}
	.history_sec{
		.table1{
			width: 820px;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 170px;
				border-right: 20px solid #fff;
				width: 0;
				height: 101%;
			}
			th{
				width: 190px;
			}
		}
	}
}

/* サービス案内 */
.p-service_about-top{
	background: url(#{$img_path}service/service_about_bg.jpg);
	background-size: cover;
	padding: 105px 0 115px;
	position: relative;
	&__bg-left{
		position: absolute;
		width: calc(50% - 45px);
		height: 45px;
		left: 0;
		bottom: 0;
		background: #f7f7f7;
		&::before{
			content: '';
			position: absolute;
			right: -45px;
			border-right: 45px solid transparent;
			border-bottom: 45px solid #f7f7f7;
		}
	}
	&__bg-right{
		position: absolute;
		width: calc(50% - 45px);
		height: 45px;
		right: 0;
		bottom: 0;
		background: #f7f7f7;
		&::before{
			content: '';
			position: absolute;
			left: -45px;
			border-left: 45px solid transparent;
			border-bottom: 45px solid #f7f7f7;
		}
	}
	&__title{
		display: block;
		width: 37%;
		margin: 0 auto 40px;
		font-family: $yu_min_font;
		line-height: 1.3;
		font-size: 3.4rem;
		font-weight: 600;
		text-align: center;
		position: relative;
		color: #fff;
		&::before,&::after{
			content: '';
			width: 2px;
			height: 35px;
			background: #fff;
			position: absolute;
		}
		&::before{
			left: -70px;
			bottom: 0;
			transform: rotate(-15deg);
		}
		&::after{
			right: -70px;
			bottom: 0;
			transform: rotate(15deg);
		}
	}
	&__list{
		display: flex;
		&__item{
			width: 23.25%;
			margin-right: 2%;
			text-align: center;
			&:last-child{
				margin-right: 0;
			}
			p{
				margin-top: 40px;
				color: #fff;
				font-size: 2rem;
				line-height: 1.7;
			}
		}
	}
}

.p-service_about-bottom{
	background: #f7f7f7;
	padding: 55px 0;
	.container{
		text-align: center;
	}
	&__title{
		display: inline-block;
		margin: 0 auto 40px;
		font-family: $yu_min_font;
		line-height: 1.3;
		font-size: 3.4rem;
		font-weight: 600;
		position: relative;
		border-bottom: 1px solid #111;
	}
	&__text{
		line-height: 2.2;
	}
}

.p-service_work{
	padding: 130px 0 0;
	.ttl1{
		font-family: $yu_min_font;
    font-weight: 600;
	}
	&__note{
		margin-top: 0.5em;
		text-align: right;
		line-height: 1.4;
		font-size: 1.6rem;
	}
	&__text{
		text-align: center;
		margin-bottom: 55px !important;
	}
	&__category{
		padding: 0 50px;
    display: flex;
    align-items: center;
		margin-bottom: 35px !important;
		.list{
			margin-right: 50px;
			&:last-child{
				margin-right: 0;
			}
			span{
				display: block;
				cursor: pointer;
				width: 300px;
				text-align: center;
				box-sizing: border-box;
				padding: 1em;
				color: #0f1145;
				font-size: 2.2rem;
				font-weight: 700;
				border: 2px solid #0f1145;
				&.is-active{
					background: #0f1145;
					color: #fff;
				}
			}
		}
  }
	&__item{
		.tab-content__item{
			border: 2px solid #0f1145;
			padding: 45px 45px 5px;
			position: relative;
			&.is-active{
				&::before{
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: -15px;
					border-right: 15px solid transparent;
					border-bottom: 15px solid #0f1145;
					border-left: 15px solid transparent;
				}
				&#tab01{
					&::before{
						left: 17%;
					}
				}
				&#tab02{
					&::before{
						left: 48%;
					}
				}
				&#tab03{
					&::before{
						right: 17%;
					}
				}
				&::after{
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: -12px;
					border-right: 15px solid transparent;
					border-bottom: 15px solid #fff;
					border-left: 15px solid transparent;
				}
				&#tab01{
					&::after{
						left: 17%;
					}
				}
				&#tab02{
					&::after{
						left: 48%;
					}
				}
				&#tab03{
					&::after{
						right: 17%;
					}
				}
			}
		}
	}
	&__item_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
		margin-bottom: 0 !important;

    .item{
      width: 23%;
			margin-right: 2.5%;
			margin-bottom: 40px;
      display: flex;
			&:nth-child(4n){
				margin-right: 0;
			}
      &_img{
        overflow:hidden;
        width: 100%;
				border: 1px solid #ccc;
        img{
					width: 100%;
        }
      }
    
    }

    .item a{
      position: relative;
      display: block;
      width: 100%;
      transition: 0.3s;
    }

    .item_name{
			font-size: 2rem;
			margin-top: 20px;
			margin-bottom: 10px !important;
      line-height: 1.4;
			font-weight: bold;
    }
		.item_info{
			font-size: 1.6rem;
			margin-bottom: 0px !important;
		}
  }
}


.tab-content__item{
	display: none;
}
.tab-content__item.is-active {
	display: block;
	animation: fade 0.5s ease;
}
@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.p-service_proposal{
	padding-top: 65px;
  .ttl1{
		font-family: $yu_min_font;
    font-weight: 600;
	}
	.ttl3{
		text-align: center;
		font-size: 2.2rem;
	}
	.ttl2{
		font-size: 2.2rem;
		font-weight: 400;
	}
	&__text{
		text-align: center;
		margin-top: 0.5em;
	}
	&__item-wrap{
		display: flex;
	}
	&__note{
		text-align: right;
		margin-top: 0.5em;
	}
	&__item{
		width: 48%;
		margin-right: 4%;
		border: 1px solid #ccc;
		&:nth-child(2n){
			margin-right: 0;
		}
		padding: 39px;
		&__image{
			display: flex;
			align-items: center;
			height: 55%;
			justify-content: center;
			padding-bottom: 39px;
			border-bottom: 1px solid #ccc;
		}
		&__text{
			margin-top: 28px;
			margin-bottom: 0 !important;
		}
	}
}

.p-service_delivery{
	padding-top: 65px;
	.ttl1{
		margin-bottom: 50px;
    font-family: $yu_min_font;
    font-weight: 600;
	}
	.step_list li{
		width: 24%;
		margin-right: 1.25%;
		&:nth-child(4n){
			margin-right: 0;
		}
		.text{
			display: block;
			margin-left: 10px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
}
.p-service_faq{
	padding-top: 65px;
  padding-bottom: 120px;
  .ttl1{
    font-family: $yu_min_font;
    font-weight: 600;
  }
  &__content{
    border-top: 1px solid #ccc;
    padding: 25px 0;
    margin-bottom: 0 !important;
    &:last-child{
      border-bottom: 1px solid #ccc;
    }
  }
  &__button{
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 22px;
      background: #0f1145;
      top: 50%;
      transform: translateY(-50%) ;
      transition: all 0.4s;
    }
    &::before{
      right: 21px;
    }
    &::after {
      width: 22px;
      right: 10px;
      height: 1px;
    }
    .question::before{
      content:'Q';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: #0f1145;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-family: 'Century Gothic';
    }
    &.is-opened{
      &::before,
      &::after {
        transform: rotate(-180deg);
      }
      &::before{
        opacity: 0;
      }
      &::after {
        top: 50%;
        right: 1.1%;
      }
    }
  }
  &__modal{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 0.8s ease;
    padding-left: 40px;
    &.is-opened {
      padding: 40px 0 0 40px;
    }
    .answer{
      position: absolute;
      left: 0;
      width: 28px;
      height: 28px;
      margin-right: 10px;
      border: 1px solid #0f1145;
      color: #0f1145;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-family: 'Century Gothic';
    }
  }
}
.p-service_contact{
  padding: 80px 0;
  background: #f8f8f8;
  .container{
    display: flex;
  }
  &__title{
    font-size: 2.2rem;
    font-family: $yu_min_font;
    font-weight: 600;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    width: 30%;
    border-right: 1px solid #ccc;
  }
  &__tel{
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
    &__text{
      text-align: center;
      font-size: 3.4rem;
      font-family: 'Century Gothic';
      margin-bottom: 0 !important;
      .small{
        font-size: 1.6rem;
      }
    }
  }
  &__button{
    width: 30%;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    text-align: right;
    a{
      display: inline-block;
      text-align: center;
      width: 234px;
      color: #fff;
      background: #209ec7;
      padding: 15px 0;
      transition: .3s ease;
      &:hover{
        background: #0f1145;
      }
    }
  }
}

/* 技術設備紹介 */
.m-technology{
	.tech_sec{
		padding: 60px 0 30px;
		.tech_block{
			margin-bottom: 100px;
			h3{
				@include font-size(2.4);
				margin-bottom: 30px;
        padding: 15px 15px 15px 30px;
				color: #fff;
				background-color: $main_color;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 15%;
					left: 10px;
					border-left: 1px solid #fff;
					height: 75%;
				}
			}
			.step_list{
				ul{
					margin-top: 40px;
					li{
						margin-bottom: 30px;
						.img{
							margin-bottom: 20px;
						}
					}
				}
				&.second{
					ul{
						display: flex;
						justify-content: space-between;
						li{
							padding: 0 15px;
							&:nth-child(1){
								flex: 0.9;
							}
							&:nth-child(2){
								flex: 0.9;
							}
							&:nth-child(3){
								flex: 1.45;
							}
							p{
								margin-left: 10px;
							}
						}
					}
				}
			}
			.example_block{
				h4{
					@include font-size(2.2);
					font-weight: 500;
					padding-bottom: 15px;
					border-bottom: 1px solid $main_color;
					margin-bottom: 30px;
				}
				.imgs{
					display: flex;
					.img{
						margin-right: 10px;
					}
				}
				.em_box{
					padding: 30px 50px;
					background-color: #f9f9f9;
					&.third{
						width: 750px;
						margin-bottom: 30px;
					}
					ul{
						margin-bottom: -15px;
						li{
							margin-bottom: 15px;
							line-height: 120%;
							padding-left: 15px;
							position: relative;
							&::before{
								content: '-';
								position: absolute;
								left: 0;
								color: $sub_color;
							}
						}
					}
				}
			}
		}
	}
	.facility_sec{
		table{
			width: 920px;
			margin: auto;
			th,td{
				padding: 15px 30px;
			}
			th{
				color: $main_color;
				text-align: left;
			}
			td{
				text-align: center;
			}
		}
	}
}


/* 採用情報 */
.m-recruit{
	.top_sec{
		padding: 60px 0;
		.row{
			align-items: flex-end;
		}
		.img{
			position: relative;
			z-index: -1;
		}
		.text_area{
			padding: 20px 30px 0;
			background-color: #fff;
			position: relative;
			&::before{
				content: url(#{$img_path}recruit/message.png);
				position: absolute;
				z-index: -1;
				top: -70px;
				left: -40px;
			}
			h2{
				@include font-size(3);
				font-family: $min_font;
				font-weight: 400;
				margin-bottom: 30px;
			}
			.name_area{
				margin-top: 40px;
				text-align: right;
				@include font-size(1.5);
				p{
					margin-bottom: 0;
				}
				span{
					@include font-size(2.2);
					margin-left: 10px;
				}
			}
		}
	}
	.one_minute_sec{
		background-color: #fff;
		background: url(#{$img_path}recruit/rec_oneminute_bg@2x.jpg) center no-repeat;
		background-size: cover;
		padding: 80px 0;
		.top_txt{
			text-align: center;
		}
		.img{
			margin-bottom: 30px;
		}
	}
	.interview_sec{
		padding: 60px 0;
		.ttl1{
			margin-bottom: 60px;
		}
		.interview_list{
			li{
				margin-bottom: 120px;
				a{
					display: block;
					position: relative;
					.img{
						position: relative;
						&::before{
							content: '';
							position: absolute;
							bottom: -40px;
							right: 20px;
							z-index: -1;
							width: 855px;
							height: 180px;
							background-color: #e8f5f9;
							transition: 0.5s ease;
						}
					}
					.text{
						position: absolute;
						width: 450px;
						top: -20px;
						left: 0;
						padding: 40px;
						border: 1px solid $main_color;
						transition: 0.3s ease;
						.num{
							@include font-size(1.4);
							font-weight: bold;
							text-transform: uppercase;
							margin-bottom: 10px;
							color: $main_color;
							position: relative;
							&::before{
								content: '';
								position: absolute;
								top: 5px;
								left: -50px;
								width: 20px;
								height: 15px;
								background-color: transparent;
							}
							&::after{
								content: '';
								position: absolute;
								top: 12px;
								left: -55px;
								border-top: 1px solid $main_color;
								width: 30px;
								height: 1px;
							}
						}
						h3{
							font-family: $min_font;
							font-weight: 400;
							@include font-size(2.6);
							margin-bottom: 20px;
						}
						dl{
							margin-bottom: 0;
							dt{
								@include font-size(2);
								margin-bottom: 10px;
							}
							dd{
								table{
									margin-bottom: 0;
									th,td{
										@include font-size(1.5);
										border: none;
										padding: 0;
										font-weight: 500;
										white-space: nowrap;
									}
									th{
										padding-right: 10px;
									}
								}
							}
						}
					}
					&:hover{
						.img{
							&::before{
								background-color: $main_color;
							}
						}
						.text{
							background-color: #fff;
						}
					}
				}
				&:nth-child(even){
					a{
						.img{
							&::before{
								left: 20px;
								background-color: #f8f8f8;
							}
						}
						.text{
							left: auto;
							right: 0;
							border: 1px solid $sub_color;
							padding: 40px;
							.num{
								color: $sub_color;
								&::after{
									border-top: 1px solid $sub_color;
								}
							}
						}
						&:hover{
							.img{
								&::before{
									background-color: $main_color;
								}
							}
							.text{
								background-color: #fff;
							}
						}
					}
				}
				&:last-child{
					a{
						.text{
							right: -20px;
						}
					}
				}
			}
		}
	}
	.rec_post_sec{
		padding: 30px 0;
		.bg_area{
			background: url(#{$img_path}recruit/rec_post_bg@2x.jpg) center no-repeat;
			background-size: cover;
			height: 380px;
		}
		.rec_post_box{
			margin-top: -110px;
			padding: 50px 90px;
			background-color: #fff;
		}
	}
}

.m-interview{
	.top_sec{
		background-color: #f9f9f9;
		padding: 60px 0;
		.staff_row{
			display: flex;
			justify-content: center;
			.staff_box{
				padding: 0 50px;
				flex-basis: 39%;
				max-width: 39%;
				border-right: 1px solid #ccc;
				&:last-child{
					border-right: none;
				}
				.text{
					h3{
						@include font-size(2);
						margin: 0 0 15px 10px;
						&.person1{
							color: $main_color;
						}
						&.person2{
							color: $sub_color;
						}
						&.person3{
							color: #205fc7;
						}
					}
					table{
						margin-bottom: 0;
						th,td{
							@include font-size(1.5);
							text-align: left;
							border: none;
							padding: 0;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
	.interview_sec{
		padding: 60px 0;
		.interview_block{
			margin-bottom: 80px;
			&:last-child{
				margin-bottom: 0;
			}
			.imgs{
				position: relative;
				&::before{
					content: '';
					width: 370px;
					height: 370px;
					position: absolute;
					@include centering(true,true);
					z-index: -1;
					background-color: #f9f9f9;
				}
				.img{
					&:nth-child(2){
						margin-top: 30px;
						text-align: right;
					}
				}
			}
			.text{
				h3{
					@include font-size(2.4);
					color: $main_color;
					font-weight: 500;
					margin-bottom: 20px;
				}
				dl{
					display: flex;
					dt{
						flex-basis: 100px;
						min-width: 100px;
						max-width: 100px;
						font-weight: bold;
					}
					&.person1{
						dt{
							color: $main_color;
						}
					}
					&.person2{
						dt{
							color: $sub_color;
						}
					}
					&.person3{
						dt{
							color: #205fc7;
						}
					}
				}
				.person0{
					padding-left: 55px;
					position: relative;
					&::before{
						content: '';
						position: absolute;
						top: 12px;
						left: 0;
						width: 40px;
						border-top: 1px solid #111;
					}
				}
			}
		}
	}
}


.dropdown{
	text-align: right;
	select{
		padding: 5px 10px;
		border: 1px solid #ccc;
		font-family: $base_font;
	}
}

/* 新着情報 */
// .m-news_archive{

// }
.m-news_single{
	.body{
		margin-top: 40px;
		table{
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 170px;
				border-right: 20px solid #fff;
				width: 0;
				height: 101%;
			}
			th,td{
				padding: 20px 10px;
				border: none;
				border-bottom: 1px solid #ccc;
				text-align: left;
			}
			th{
				color: #111;
				width: 250px!important;
			}
		}
	}
	.entry_btn{
		margin: 40px 0 60px;
		text-align: center;
		a{
			display: inline-block;
			width: 500px;
			color: #fff;
			background-color: $sub_color;
			padding: 20px 0;
			border-radius: 50px;
			@include font-size(2);
			font-weight: bold;
			transition: 0.3s ease;
			&:hover{
				background-color: $main_color;
			}
		}
	}
}

/* プライバシーポリシー */

.m-privacy{
	ol{
		padding-left: 25px;
	}
}


/* 404 notfound */

.m-notfound {
	.body {
		padding:0 30px 30px ;
	}
}

/* お問い合わせフォーム */

.m-contact{

	/*-------------------------------------
	    お電話でのお問い合わせ
	--------------------------------------*/

	.contactTel {
	  max-width: 898px;
	  outline: solid 1px #ddd;
	  border: 9px solid $main_color;
	  margin: 30px auto;
	  padding: 20px;
	  text-align: center;
	  p {
	    margin: 0;
	  }
	  .number {
	    @include font-size(2.4);
	    font-weight: bold;
	    margin: 15px 0;
	  }
	}

	.mw_wp_form_confirm .contactTel {
	  display: none;
	}

	/*-------------------------------------
	    フォームダイアログ
	--------------------------------------*/

	.contactInput, .contactConfirm {
	  max-width: 960px;
	  margin: 20px auto;
	}

	.contactComplete {
	  max-width: 960px;
	  margin: 20px auto;
	}


	/*-------------------------------------
	    フォーム入力部
	--------------------------------------*/

	.contactForm {
	  max-width: 880px;
	  margin: 0 auto;
	  th, td {
	    border-style: none;
	    padding: 10px 0;
	    vertical-align: top;
	    text-align: left;
	  }
	  th {
	    padding-right: 20px;
	    width: 300px;
	  }
	  .require {
	    margin-left: 10px;
	    padding: 3px 4px;
	    color: #fafafa;
	    font-size: 9px;
	    letter-spacing: 1px;
	    margin: 0px 0px 0px 10px;
	    line-height: 9px;
		  @include border_radius(3px);
	    zoom: normal;
	    background: #C9171E;
	  }
	}

	/*-------------------------------------
	    メールが届かない方へ
	--------------------------------------*/

	.contactNotice {
	  max-width: 920px;
	  border: 1px solid #ddd;
	  border-radius: 2px;
	  padding: 20px;
	  margin: 20px auto;
	  .ttl {
	    background: $sub_color;
	    color: #fff;
	    padding: 5px 20px;
	    margin: -20px -20px 20px;
	  }
	  p {
	    margin: 0;
	  }
	}
}


/*-------------------------------------
    メディアクエリ用
--------------------------------------*/

//デバイス定義
$type: xs sm md lg;
//media-query.scssをインポート。
@import "media-query";
 
/* スマホ
-------------------------------------------------- */
@media only screen and (max-width:$screen-xs-max) {
 $type: xs;
 @import "media-query";
}
/* タブレット
-------------------------------------------------- */
@media only screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
 $type: sm;
 @import "media-query";
}
/* PC(small)
-------------------------------------------------- */
@media only screen and (min-width:$screen-md-min) and (max-width:$screen-md-max) {
 $type: md;
 @import "media-query";
}
/* PC(large)
-------------------------------------------------- */
@media only screen and (min-width:$screen-lg-min) {
 $type: lg;
 @import "media-query";
}
