@if $type == lg{

}
@if $type == md{

}

@if $type == md or $type == lg{ 
	
}


@if $type == sm{ 
	

}

@if $type == xs{
	@if not $tablet {
    body{
      position: static;
      .c-floating_banner{
        display: none;
      }
    }
		#page {
			min-width: 100%;
      
      @include font-size(1.4);
      line-height: 140%;
		}
		.container{
			width: 100%;
		}
	}
  .m-index .service-btn{
    a{
      padding: 10px 0;
      width: 100%;
    }
  }
	.table-responsive{
		width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;

	  tbody{
	    width: auto;
	    position: relative;
	    overflow-x: auto;
	    white-space: nowrap;
	  }
	  tr{
      vertical-align: top;
	  }
  }
  .table-responsive2{
    width: 100%!important;
		tr,th,td{
			display: block;
      width: 100%!important;
    }
    th,td{
      padding: 10px;
    }
    th{
      font-weight: bold;
    }
  }
  .crumbs{
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  /* スクロールバーの装飾 */
  .crumbs::-webkit-scrollbar {
    height: 10px;
  }
  .crumbs::-webkit-scrollbar-track {
    background-color: #FFF;
  }
  .crumbs::-webkit-scrollbar-thumb {
    background-color: rgba( 238, 238, 238, 0.8);
  }

  .row{
    margin-left:-5px;
    margin-right:-5px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
    padding-left: 5px;
    padding-right: 5px;
  }
  input,textarea,select{
    font-size:1.6rem;
    transform: scale(.9);
  }

  .l-header{
    padding: 5px 0;
    margin-bottom: 0;
    box-shadow:0px 3px 1px -2px #ddd;
  }

  .l-footer{
    margin-top: 20px;
    .footer_area{
      padding: 30px 0;
      .top_row{
        margin-bottom: 40px;
        h2{
          text-align: center;
        }
      }
      .bottom_row{
        display: block;
        line-height: 180%;
        text-align: right;
        a{
          margin-right: 0;
        }
      }
    }
  }

  .main_visual{
    margin-bottom: 0;
    position: relative;
    .main_slider{
      height: 220px;
      ul{
        li{
          height: 220px;
        }
      }
      .text{
        width: 100%;
        &::before{
          content: none;
        }
        .ja{
          width: 13px;
          right: 7%;
        }
      }
    }
    .flex-direction-nav{
      a{
        &::before{
          display: none;
        }
      }
    }
  }

  .lower_ttl{
    height: 200px;
    .loopslider{
      position: static;
    }
    .text{
      width: 100%;
      height: 100%;
      @include centering(true,true);
      border: none;
      h1{
        .en,.ja{
          text-shadow: 1px 1px 20px #fff;
        }
        .en{
          @include font-size(3.4);
          margin-bottom: 15px;
        }
      }
    }
    &.recruit{
      background: url(#{$img_path}main/recruit_main@2x.jpg) center no-repeat;
      background-size: cover;
      height: 200px;
    }
  }

  .lower_ttl2{
    height: 200px;
    .text{
      @include centering(true,true);
      border: none;
      h1{
        .en,.ja{
          text-shadow: 1px 1px 20px #fff;
        }
        .en{
          @include font-size(3);
          margin-bottom: 15px;
        }
      }
    }
  }

  .lower_ttl3{
    height: 120px;
    h1{
      .en,.ja{
        text-shadow: 1px 1px 20px #fff;
      }
      .en{
        @include font-size(3);
        margin-bottom: 10px;
        line-height: 100%;
      }
      .ja{
        @include font-size(1.6);
      }
    }
  }

  .anc{
    padding-top: 80px;
    margin-top: -80px;
  }

  .ttl1{
    margin-top: 30px;
    margin-bottom: 20px;
    @include font-size(2.6);
    &::before{
      top: -30px;
      height: 15px;
    }
  }

  .ttl2{
    padding: 10px 0;
    @include font-size(2);
  }

  .m-index{
    .idx_topics{
      .idx_topics_row{
        h2{
          @include font-size(1.8);
        }
        .news_row{
          a{
            padding: 10px 0 15px;
          }
        }
        .recruit{
          a{
            padding: 15px 0;
          }
        }
      }
    }
    .idx_about_sec{
      margin-bottom: 100px;
      padding: 0 15px;

      .row{
        flex-direction: column-reverse;
      }
      .about_block{
        &.block2{
          flex-basis: 100%;
          max-width: 100%;
        }
      }
      .ttl{
        position: static;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2{
          position: static;
          padding: 40px 15px;
        }
        h3{
          @include font-size(1.8);
        }
      }
      .text{
        width: 100%;
        padding-left: 20px;
        .btn{
          margin-top: 20px;
        }
      }
    }
    .idx_products_sec{
      padding: 100px 0 40px;
      .img_area{
        margin-bottom: 20px;
        .img{
          height: 300px;
        }
        .text{
          &::before{
            width: 75%;
            height: 240px;
          }
          h2{
            @include font-size(2.2);
            margin-bottom: 20px;
          }
          h3{
            @include font-size(3);
          }
        }
      }
      .in{
        padding: 0;
        p{
          padding-left: 20px;
          margin-bottom: 30px;
        }
        ul{
          li{
            margin-bottom: 10px;
            &::before{
              bottom: -50px;
              left: -45px;
              width: 85px;
              height: 85px;
            }
            &:nth-child(3n){
              &::after{
                content: none;
              }
            }
          }
        }
      }
    }
    .idx_rec_sec{
      padding: 60px 0 20px;
      .img1{
        order: 2;
        flex-basis: 50%;
        max-width: 50%;
        padding: 0;
      }
      .text{
        order: 1;
        h2{
          padding: 10px 0 0px;
          margin-bottom: 50px;
          &::before,&::after{
            height: 20px;
          }
          &::before{
            top: -30px;
          }
          &::after{
            bottom: -30px;
          }
          .en{
            @include font-size(3.2);
            margin-bottom: 15px;
          }
          .ja{
            @include font-size(1.8);
          }
        }
        ul{
          padding: 0 15px;
          margin-bottom: 20px;
          li{
            a{
              width: 100%;
            }
          }
        }
      }
      .img2{
        order: 3;
        flex-basis: 50%;
        max-width: 50%;
        padding: 0;
      }
    }
  }

  .m-about{
    .top_sec{
      padding: 30px 0;
    }
    .philosophy_sec{
      padding: 30px 15px;
      .text_block{
        padding: 0;
        margin-top: 40px;
        h3{
          @include font-size(1.4);
          &.min{
            @include font-size(2.6);
            margin-bottom: 20px;
          }
        }
      }
    }
    .greeting_sec{
      padding: 30px 0;
      .text_block{
        margin-top: 10px;
        h2{
          @include font-size(2.6);
          margin-bottom: 15px;
        }
        .name_area{
          p{
            margin-bottom: 10px;
          }
        }
      }
    }
    .history_sec{
      .table1{
        &::before{
          content: none;
        }
      }
    }
  }

  .p-service_about-top{
    padding: 50px 0 55px;
    &__title{
      width: 90%;
      text-align: center;
      font-size: 2.4rem;
      &::before{
        left: -10px;
      }
      &::after{
        right: -10px;
      }
    }
    &__list{
      flex-wrap: wrap;
      &__item{
        width: 49%;
        margin-right: 2%;
        img{
          width: 80%;
        }
        p{
          margin-top: 20px;
          font-size: 1.6rem;
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
    }
  }
  .p-service_about-bottom{
    padding: 25px 0;
    &__title{
      font-size: 2.3rem;
      text-align: left;
      margin-bottom: 20px;
    }
    &__text{
      margin-bottom: 0 !important;
    }
  }

  .p-service_work{
    padding-top: 65px;
    .ttl1{
      line-height: 1.4;
    }
    &__text{
      margin-bottom: 25px !important;
    }
    &__category{
      padding: 0;
      margin-bottom: 20px !important;
      .list{
        margin-right: 5%;
        width: 30%;
        span{
          font-size: 1.4rem;
          width: 100%;
        }
      }
    }
    &__item{
      .tab-content__item{
        padding: 20px 20px 5px;
        &.is-active{
          &#tab01{
            &::before{
              left: 12%;
            }
          }
          &#tab02{
            &::before{
              left: 48%;
            }
          }
          &#tab03{
            &::before{
              right: 12%;
            }
          }
          &#tab01{
            &::after{
              left: 12%;
            }
          }
          &#tab02{
            &::after{
              left: 48%;
            }
          }
          &#tab03{
            &::after{
              right: 12%;
            }
          }
        }
      }
    }
    &__item_list{
      .item{
        width: 49%;
        margin-right: 2%;
        .item_name{
          font-size: 1.8rem;
        }
        .item_info{
          font-size: 1.4rem;
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
    }
    &__note{
      font-size: 1.4rem;
      text-align: left;
    }
  }

  .p-service_proposal{
    .ttl2{
      margin-bottom: 20px;
    }
    .ttl3{
      line-height: 1.4;
      font-size: 1.8rem;
    }
    &__text{
      margin-bottom: 20px;
    }
    &__item-wrap{
      display: block;
    }
    &__item{
      width: 100%;
      margin-right: 0;
      padding: 19px;
      margin-bottom: 20px;
      &__image{
        padding-bottom: 19px;
      }
      &__text{
        margin-top: 19px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__note{
      font-size: 1.4rem;
      text-align: left;
    }
  }
  .p-service_delivery{
    .ttl1{
      margin-bottom: 25px;
    }
    .step_list li{
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n){
        margin-right: 0;
      }
      .text{
        margin-bottom: 30px;
      }
    }
  }

  .p-service_faq{
    padding-bottom: 80px;
    &__content{
      padding: 20px 0;
    }
  }
  .p-service_contact{
    padding: 40px 0;
    .container{
      display: block;
    }
    &__title{
      width: 100%;
      padding: 0 0 15px 0;
      border-right: none;
      line-height: 1.2;
      border-bottom: 1px solid #ccc;
    }
    &__tel{
      width: 100%;
      padding: 20px 0;
      &__text{
        text-align: left;
        line-height: 1.2;
        font-size: 2.8rem;
      }
    }
    &__button{
      width: 100%;
      padding: 0;
      a{
        width: 100%;
      }
    }
  }

  .m-technology{
    .tech_sec{
      padding: 30px 0;
      .tech_block{
        margin-bottom: 40px;
        h3{
          @include font-size(1.8);
          padding: 12px 12px 12px 20px;
          margin-bottom: 20px;
        }
        .step_list{
          ul{
            li{
              text-align: center;
              p{
                text-align: left;
              }
            }
          }
          &.second{
            ul{
              display: block;
            }
          }
        }
        .example_block{
          .imgs{
            margin-bottom: 20px;
            justify-content: space-between;
            .img{
              flex-basis: 48%;
              max-width: 48%;
              margin-right: 0;
            }
          }
          .em_box{
            padding: 20px;
            &.third{
              width: 100%;
            }
          }
        }
      }
    }
    .facility_sec{
      table{
        width: 100%;
      }
    }
  }

  .m-recruit{
    .top_sec{
      padding: 30px 0;
      .text_area{
        margin-top: 30px;
        padding: 0;
        &::before{
          width: 100px;
          left: 10px;
          text-align: center;
          margin: auto;
          background-color: #fff;
        }
        h2{
          @include font-size(2.2);
          margin-bottom: 20px;
          margin-left: 20px;
          padding-top: 20px;
        }
      }
    }
    .one_minute_sec{
      padding: 30px 0;
      .img{
        margin-bottom: 10px;
      }
    }
    .interview_sec{
      padding: 30px 0;
      .interview_list{
        li{
          margin-bottom: 30px;
          a{
            .text{
              position: static;
              padding: 20px;
              margin: 0 5px;
              width: 100%;
              .num{
                @include font-size(1.2);
                margin-bottom: 5px;
              }
              h3{
                @include font-size(2.2);
                margin-bottom: 0;
              }
              dl{
                margin-top: 20px;
                dt{
                  @include font-size(1.8);
                }
                dd{
                  table{
                    th,td{
                      @include font-size(1.2);
                    }
                  }
                }
              }
            }
          }
          &:nth-child(even){
            a{
              .text{
                padding: 20px;
              }
            }
          }
        }
      }
    }
    .rec_post_sec{
      padding: 10px 0;
      .bg_area{
        height: 200px;
      }
      .rec_post_box{
        margin-top: 40px;
        padding: 0;
      }
    }
  }

  .rec_post_list{
    ul{
      li{
        a{
          .img{
            flex-basis: 35%;
            max-width: 35%;
          }
          .text{
            flex-basis: 65%;
            max-width: 65%;
            padding-left: 15px;
            time{
              @include font-size(1.2);
            }
            h3{
              @include font-size(1.8);
              margin: 5px 0 10px;
            }
            .btn{
              width: 100%;
            }
          }
        }
      }
    }
  }

  .news_list{
    li{
      a{
        padding: 15px 0;
      }
    }
  }

  .m-interview{
    .top_sec{
      padding: 30px 0;
      .staff_row{
        display: block;
        .staff_box{
          padding: 0;
          flex-basis: 100%;
          max-width: 100%;
          margin-bottom: 20px;
          border-right: none;
          &:last-child{
            margin-bottom: 0;
          }
          .text{
            h3{
              @include font-size(1.8);
              margin-bottom: 5px;
              margin-left: 0;
            }
            table{
              th,td{
                @include font-size(1.2);
              }
            }
          }
        }
      }
    }
    .interview_sec{
      padding: 30px 0;
      .interview_block{
        margin-bottom: 50px;
        .text{
          h3{
            @include font-size(1.8);
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  
  .dropdown{
    select{
      white-space: nowrap;
    }
  }
  .m-news_single{
    .body{
      table{
        width: 100%!important;
        &::before{
          content: none;
        }
        th,td{
          display: block;
          width: 100%!important;
          height: auto!important;
          padding: 10px;
        }
        th{
          color: #fff;
          background-color: #ccc;
        }
      }
    }
    .entry_btn{
      a{
        @include font-size(1.6);
        padding: 15px 0;
        width: 100%;
      }
    }
  }

  .m-contact{
    .contactTel{
      .number{
        @include font-size(2);
      }
    }
		.contactForm {
		  th, td {
		    display: block;
		  	@include font-size(1.6);
		  }
		  td{
		  	input{
		  		width: 100%;
		  	}
		  	textarea{
		  		width: 100%;
		  	}
        .mwform-zip-field{
          input{
            &:nth-child(1){
              width: 29%;
            }
            &:nth-child(2){
              width: 59%;
            }
          }
        }
        .mwform-tel-field{
          input{
            width: 29%;
          }
        }
		  }
      .school{
        input{
          margin-left: 0;
        }
      }
      input[name="grad-year"],input[name="grad-month"],input[name="grad-date"],input[name="birth-year"],input[name="birth-month"],input[name="birth-date"]{
        width: 22%;
      }
		  input[type="radio"] {
        position: relative;
        -webkit-appearance: button;
        appearance: button;
        -moz-appearance: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        content: "";
        background-color: #FFFFFF;
        border: 1px solid #999999;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        -webkit-box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
        box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
        vertical-align: middle;
        cursor: pointer;
        padding: 5px;
      }

      input[type="radio"]:checked:after {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        content: "";
        width: 6px;
        height: 6px;
        background: $main_color;
        -webkit-border-radius: 12px;
        border-radius: 12px;
      }
      input[type="checkbox"] {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: button;
        appearance: button;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        vertical-align: middle;
        padding: 5px;
      }

      input[type="checkbox"]:checked::after {
        position: absolute;
        content: "";
        top: -3px;
        left: 3px;
        width: 8px;
        height: 14px;
        border-right: 4px solid $main_color;
        border-bottom: 4px solid $main_color;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); 
      }
		}
	}
}
