@charset "utf-8";

// inline-block
.inline_block {
	display: inline-block;
}

// table-cell
.table_cell {
	display: table-cell;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
.ovfl {
	overflow:hidden;
}
// float: right
.fr,
.imgR,
.alignright {
	float: right;
	margin-left: 10px;
}

// float: left
.fl,
.imgL,
.alignleft{
	float: left;
	margin-right: 10px;
}

// text-align: center
.imgC,
.tC,
.btn,
.aligncenter {
	text-align: center;
}

// img Centering
.imgC,
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// text-align: right
.tR,
.sign {
	text-align: right;
}

//ブロック要素を中央ぞろえ
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* clearfix */
.clearfix {
	*zoom: 1;
	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

.link{
	color: #4e7ee0!important;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

.anc{
	padding-top: 107px;
	margin-top: -107px;
}